.App {
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.Nav-link {
  padding: 2rem;
  
}

.nav-item {
  margin-top: 1rem;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background: black;
  color: white;
}
div a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 20px;
}

.Output {
  color: red;
}
